.console-terminal {
    visibility: visible;
    box-shadow: rgba(45, 35, 66, 0.3) -4px 8px 12px;
    background-color: black;
    color: white;
    height: 35vh;
    width: 45vw;
}

.console-line {
    margin: 5px;
}