.all2 {
    width: 100vw;
    height: 100vh;
}

.left{
    flex-grow: 1;
}

.right{
    flex-grow: 1;
}

.editor-window {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 70vh;
    width: 40vw;
    border: 5px;
    border-color: black;
    border-radius: 6px;
}

.timer {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.menu {

}