.editor-all{
    display: flex;
    background-image: radial-gradient(at 100% 0, #5adaff, #5468ff 100%);;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.editor-top{
    visibility: hidden;
    background-color: darksalmon;
    width: 100%;
    height: 15%;
}
.editor-bottom{
    visibility: hidden;
    display: flex;
    background-color: crimson;
    width: 100%;
    height: 85%;
}
.editor-left{
    visibility: hidden;
    display: flex;
    background-color: bisque;
    width:50%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    padding-top: 5vh;
}
.editor-right{
    visibility: hidden;
    background-color: aqua;
    width:50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.editor-editor {
    visibility: visible;
   box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgb(21, 19, 32) 0 -2px 0 inset;
}

.problem-window {
    visibility: visible;
    background-color: white;
    margin-bottom: 5vh;
    height: 35vh;
    width: 45vw;
}

.temporary-entry{
    visibility: visible;
    position: fixed;
    width: 300px;
    border: 2px solid #73AD21;
    z-index: 10;
    background-color: darkslategray;
}

















/* .all2 {
    width: 100vw;
    height: 100vh;
}

.left{
    flex-grow: 1;
}

.right{
    flex-grow: 1;
}

.editor-window {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 70vh;
    width: 40vw;
    border: 5px;
    border-color: black;
    border-radius: 6px;
}

.timer {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.menu {

} */